<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            © 2016 Cemil Sahbaz - Concept Art Ceramic
            <a class="grey-text text-lighten-4" target="_blank" href="../../../CGU.pdf">General Condition of Use</a>
            <div class="right">
                <a class="grey-text text-lighten-4" href="/">Home</a>
                <a class="grey-text text-lighten-4" href="/about">Why choose the Çini ?</a>
                <a class="grey-text text-lighten-4" href="/products" >Our Product</a>
                <a class="grey-text text-lighten-4" href="/contact">Contact Us</a>
            </div>
        </div>
    </div>
</footer>