<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            © 2016 Cemil Sahbaz - Concept Art Ceramic
            <a class="grey-text text-lighten-4" target="_blank" href="../../../CGU.pdf">Condition Générale d'Utilisation du Site</a>
            <div class="right">
                <a class="grey-text text-lighten-4" href="/">Accueil</a>
                <a class="grey-text text-lighten-4" href="/cini">Le Çini ?</a>
                <a class="grey-text text-lighten-4" href="/products" >Nos Produits</a>
                <a class="grey-text text-lighten-4" href="/contact">Nous Contacter</a>
            </div>
        </div>
    </div>
</footer>